.addform {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: hsla(120, 60%, 56%, 0.277);
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.537);
  margin-top: 10px;
}
.addhead {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-top: 20px;
}

.text-center {
  background-color: rgb(232, 238, 217);
}
.nav-color {
  background-color: black;
}
