.delete-button {
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  width: 70px;
  color: white;
}
.nav-color {
  background-color: rgba(136, 136, 136, 0.5);
}

.scrol{
  overflow-x: auto;
}